.EnhancementPreview{
  margin: 1em;
  border: 1px solid #ccc;

  .enhancement-number {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    background-color: #eee;
  }

  .enhancement-list {
    padding: 0.25em 0.5em;
  }

  .object-type{
    padding: 0.5em;
  }
}